@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Salsa&display=swap');

:root {
  --primary-color: #1894cf;
  --secondary-color: #db8227;
  --accent1-color: #4a0f1f;
  --accent2-color: #000000;

  --heading-font: "Salsa", cursive;
  --paragraph-font: "Lato", sans-serif;

  --nav-background-color: #1894cf;
  --nav-link-color: #4a0f1f;
  --nav-hover-link-color: #db8227;
  --nav-hover-background-color: #000000;
}

body {
  font-family: var(--paragraph-font);
}

*, *::before, *::after {
  box-sizing: border-box;
  }

header, main, footer {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* FIX COLOR! */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  background-color: var(--nav-background-color);
  border: 1px solid black;
  justify-content: center;
}

.grid:hover{
  background-color: var(--nav-hover-background-color);
}

.grid{
  text-decoration: none;
  background-color: var(--nav-background-color);
  color: #fff;
  padding: 1em;
  justify-self: center;
}


.grid2 {
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1em;
    justify-self: center;
}

.grid3 {
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
}


header{
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
}

.logo {
  max-width: 150px;
  justify-self: center;
}

nav {
  display: flex;
}

a {
  text-decoration: none;
}


body {
  background-color: #1895cf29;
}

/* image in the short paragraph/article: */
.hero article img{
  width: 200px;
  float: right;
}

.hero {
  position: relative;
  bottom: 30px;
}

.hero img {
width: 100%;
}

.hero h1 {
  position: absolute;
  top: 50px;
  background-color: #ea440c47;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.hero11 {
  position: relative;
}

.hero11 img {
width: 100%;
}

.hero11 h1 {
  position: absolute;
  /* left: 10%; */
  top: 60%;
  background-color: #ea430c92;
  width: 60%;
  text-align: 10px;
  padding: 20px;
}

article {
  left: 50px;
  position: absolute;
  top: 125px;
  right: 50px;
  background-color: #ea440c47;
  color: var(--primary-color);
}

.hero p {
  color: #fff;
  padding: 0 2em;
}

p {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
}

.adventures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 20px;
}


.adventures2 h6 {
  color: #fff;
  font-family: var(--paragraph-font)

}

.adventures figure {
  text-align: center;
}

.adventures2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
  font-family: var(--heading-font);
 }

.adventures2 h2 {
  padding-top: 100px;
  grid-column: 1/-1;
  justify-self: center;
  color: var(--primary-color);
}

.adventures2 figure {
  text-align: center;
  padding-top: .45rem;
  margin: 50px;
  /* border-radius: 20px; */
}

img {
  width: 100%;
}

.sociallinks img {
  width: 50px;
  padding-top: 25px;
}

.sociallinks a {
  /* background-color: red; */
  padding-right: 50px;
}

figure {
  margin: 0;
  background-color: var(--primary-color);
  color: #fff;
  /* padding: 0 0 1em 0; */
}

figcaption{
  font-size: 1.5rem;
  padding: .45em;
}

iframe{
  border: none;
  top: 40px;
  padding: 30px;
}

fieldset {
  padding: 30px;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  border: 2px solid var(--primary-color);
  border-top: 20px solid var(--primary-color);
  border-bottom: 20px solid var(--primary-color);
  font-family: var(--paragraph-font);
  color: #000;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 300px;
  /* grid-template-rows: 300px 1fr; */
  border: 2px solid var(--primary-color);
  border-top: 20px solid var(--primary-color);
  border-bottom: 20px solid var(--primary-color);
  font-family: var(--paragraph-font);
  align-items: center;
}


.wrap1 {
    /* border: 1px solid red; */
    padding-top: 10px;
    color: #000;
    flex: 3;
    text-align: center;
}

.wrap3 h2 {
  color: var(--primary-color);
}

.wrap2 {
    /* border: 1px solid green; */
    flex: 1;
}

legend {
  padding-top: 20px;
  color: var(--primary-color);
  text-align: center;
  font-weight: 700;
}

textarea {
  width: 100%;
  border: none;
}

footer{
  padding: 20px;
  display: flex;
  /* align-content: center; */
  justify-content: center;
}

.copyright {
  padding-top: 20px;
  padding-right: 50px;
  color: #000;
}



.wrap2_button {
  width: 100%;
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid #000;
  font-family: var(--paragraph-font);
  padding: 20px;
  font-size: 1rem;
  border-radius: 20px;
}

.wrap2_button:hover {
  background-color: var(--nav-hover-background-color);
  border: var(--nav-background-color);
}

.trips {
  text-align: center;
  background-color: var(--primary-color);
  padding: 20px;
  color: #fff;
}

.wrap3 {
  padding-top: 10px;
  color: #000;
  flex: 3;
  text-align: center;
}

.contact_button {
  display: flex;
  justify-content: center;
  font-family: var(--paragraph-font);
}

.trips_button {
  display: flex;
  justify-content: center;
  font-family: var(--paragraph-font);
}

.tb {
  border: none;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.tb a {
  color: #fff;
  font-family: var(--paragraph-font);
  
}

.table {
  display: flex;
  justify-content: center;
}

table, th, td {
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  align-items: center;
}

th, td {
  background-color: #fff;
  color: #000;
  /* background-color: var(--accent2-color);  */
  padding: 20px; 
}

th {
  background-color: var(--primary-color);
  color: #fff;
}

.adventures h2 {
  padding-top: 30px;
  grid-column: 1/-1;
  justify-self: center;
  color: rgb(233, 67, 12);
}

.wrapper h1, h2, p {
  color: rgb(233, 67, 12);
}

.purpose {
  text-align: center;
  border: 15px solid var(--nav-background-color);
}