@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Salsa&display=swap');

:root {
  --primary-color: #1894cf;
  --secondary-color: #db8227;
  --accent1-color: #4a0f1f;
  --accent2-color: #000000;

  --heading-font: "Salsa", cursive;
  --paragraph-font: "Lato", sans-serif;

  --nav-background-color: #1894cf;
  --nav-link-color: #4a0f1f;
  --nav-hover-link-color: #db8227;
  --nav-hover-background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

body{
  /* width: 80%; */
}

header{
  display: grid;
}

nav {
  display: flex;
}

nav a img{
  height: 20px;
  width: 20px;
}

.hero div {
    position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article img{
    position: absolute;
    float: right;
    height: 50px;
    width: auto;
}

h1 {
  position: absolute;
}



