@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Salsa&display=swap');

:root {
  --primary-color: #1894cf;
  --secondary-color: #db8227;
  --accent1-color: #4a0f1f;
  --accent2-color: #000000;

  --heading-font: "Salsa", cursive;
  --paragraph-font: "Lato", sans-serif;

  --nav-background-color: #1894cf;
  --nav-link-color: #4a0f1f;
  --nav-hover-link-color: #db8227;
  --nav-hover-background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* FIX COLOR! */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  background-color: var(--nav-background-color);
  border: 1px solid black;
  justify-content: center;
}

.grid:hover{
  background-color: var(--nav-hover-background-color);
}

.grid{
  text-decoration: none;
  background-color: var(--nav-background-color);
  color: #fff;
  padding: 1em;
  justify-self: center;
}

header{
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
}

.logo {
  max-width: 150px;
  justify-self: center;
}

nav {
  display: flex;
}

a {
  text-decoration: none;
}


body {
  background-color: #1895cf29;
}

.hero {
    position: relative;
}

.hero img {
  /* display: block; */
  width: 100%;
  /* height: auto; */
}

.hero article img{
  width: 200px;
  float: right;

}

.hero h1 {
  position: absolute;
  top: 50px;
  background-color: #ea440c47;
  width: 100%;
  text-align: center;
  padding: 10px;
}

article {
  left: 50px;
  position: absolute;
  top: 125px;
  right: 50px;
  background-color: #ea440c47;
  color: var(--primary-color);
}

.hero p {
  color: #fff;
  padding: 0 2em;
}

p {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
}

.adventures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 20px;
}

.adventures h2 {
  padding-top: 30px;
  grid-column: 1/-1;
  justify-self: center;
}

.adventures figure {
  text-align: center;
}

img {
  width: 100%;
}

.sociallinks img {
  width: 30px;
  padding-top: 25px;
}

.sociallinks a {
  /* background-color: red; */
  padding-right: 10px;
}

figure {
  margin: 0;
  background-color: #5633f1;
  color: #fff;
  /* padding: 0 0 1em 0; */
}

figcaption{
  font-size: 14px;
  padding: .25em;
}

iframe{
  border: none;
  top: 40px;
  padding: 30px;
}

fieldset {
  padding: 30px;
  border: 1px solid #5633f1;
}

#wrapper {
  display: flex;
  border: 2px solid #5633f1;
  border-top: 20px solid #5633f1;
  border-bottom: 20px solid #5633f1;
  font-family: var(--paragraph-font);
  /* margin-top: 20px; */
}
#div1 {
    /* border: 1px solid red; */
    padding-top: 10px;
    color: #000;
    flex: 3;
    text-align: center;
}
#div2 {
    /* border: 1px solid green; */
    flex: 1;
}

legend{
  padding-top: 20px;
  color: #5633f1;
  text-align: center;
  font-weight: 700;
}

#wrapper h1, h2, p {
  color: #000;
}

textarea {
  width: 100%;
  border: none;
}

button {
  width: 100%;
  color: #fff;
  background-color: var(--nav-background-color);
  border: 1px solid #5633f1;
  font-family: var(--paragraph-font);
  padding: 20px;
  font-size: 1rem;
  border-radius: 20px;
  margin-bottom: 100%;
}

button:hover {
  background-color: var(--nav-hover-background-color);
  border: var(--nav-background-color);
}

footer{
  padding: 20px;
  display: flex;
  /* align-content: center; */
  justify-content: center;
}

.copyright {
  padding-top: 20px;
  padding-right: 20px;
  align-self: center;
}

