* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(185, 255, 255);
    justify-content: center;
}

header h1 {
    text-align: center;
    color: rgb(0, 80, 146);
    margin: 1rem;
}
